{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static '/mypage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static '/mypage/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include "mypage/fragment/sidebar.html" %}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {% include "mypage/fragment/header.html" %}

            <div align="center" id="div_btn">

            </div>


        </div>
        <!-- End of Main Content -->


        {% include "mypage/fragment/footer.html" %}

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="{% static '/mypage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/mypage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static '/mypage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static '/mypage/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static '/mypage/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static '/mypage/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static '/mypage/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
<script>
    var un = '{{user.username}}';
    var idlist = '{{ idList }}';
    idlist.trim();
    console.log(idlist);
    var idsplit = idlist.split(' ');

    $(document).ready(function () {
        var str_html = '';

        if (idsplit.length == 1) {
            var html1 = '<div class="alert alert-danger" role="alert">연결된 CCTV가 없습니다.</div>';
            $('#div_btn').html(html1);
        } else {
            for (var i = 0; i < idsplit.length - 1; i++) {
                var str_location = '';
                //str_location += '\'';
                str_location += un;
                str_location += '/';
                str_location += idsplit[i];
                //str_location += '\'';
                console.log(str_location)

                var html_btn = '<div class="col-xl-3 col-md-6"><div class="card bg-primary text-white mb-4"><div class="card-body">연결Cam ID : {}</div>' +
                    '<div class="card-footer d-flex align-items-center justify-content-between">' +
                    '<a class="small text-white stretched-link" href="/cctv/live/[]">실시간 스트리밍 보기</a>' +
                    '<div class="small text-white"><i class="fas fa-angle-right"></i></div></div></div></div>';
                {#var html_btn = '<div class="card"><h5 class="card-header">Featured</h5><div class="card-body">' +#}
                {#    '<h5 class="card-title">연결Cam ID : {}</h5>' +#}
                {#    '<div class="card-footer d-flex align-items-center justify-content-between">' +#}
                {#    '<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>'+#}
                {#    '<a href="/cctv/live/[]" class="btn btn-primary">실시간 스트리밍</a>' +#}
                {#    '</div></div>';#}
                html_btn = html_btn.replace('{}', idsplit[i]);
                html_btn = html_btn.replace('[]', str_location);
                str_html = str_html + html_btn + '\n';
            }
            $('#div_btn').html(str_html);

        }

    });
</script>