{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/mypage">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">Marine SmartCCTV<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/mypage">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    {#    <!-- Heading -->#}
    {#    <div class="sidebar-heading">#}
    {#        Interface#}
    {#    </div>#}

    <!-- Nav Item - Pages Collapse Menu -->
{#    <li class="nav-item">#}
{#        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"#}
{#           aria-expanded="true" aria-controls="collapseTwo">#}
{#            <i class="fas fa-fw fa-cog"></i>#}
{#            <span>CCTV</span>#}
{#        </a>#}
{#        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
{#            <div class="bg-white py-2 collapse-inner rounded">#}
{#                <h6 class="collapse-header">CCTV</h6>#}
{#                <a class="collapse-item" href="/cctv/list/mypage">실시간 스트리밍</a>#}
{#                <a class="collapse-item" href="/mypage/cctv/list">CCTV 관리</a>#}
                {#                <a class="collapse-item" href="cards.html">알림 직원 주소록 관리</a>#}
{#            </div>#}
{#        </div>#}
{#    </li>#}
    <!-- Nav Item - Charts -->
{#    <li class="nav-item">#}
{#        <a class="nav-link" href="/cctv/list/mypage">#}
{#            <i class="fas fa-fw fa-cog"></i>#}
{#            <span>실시간 스트리밍</span></a>#}
{#    </li>#}
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/mypage/cctv/list">
            <i class="fas fa-fw fa-cog"></i>
            <span>CCTV 관리</span></a>
    </li>

    {#    <!-- Nav Item - Utilities Collapse Menu -->#}
    {#    <li class="nav-item">#}
    {#        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"#}
    {#           aria-expanded="true" aria-controls="collapseUtilities">#}
    {#            <i class="fas fa-fw fa-wrench"></i>#}
    {#            <span>로그</span>#}
    {#        </a>#}
    {#        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"#}
    {#             data-parent="#accordionSidebar">#}
    {#            <div class="bg-white py-2 collapse-inner rounded">#}
    {#                <h6 class="collapse-header">로그</h6>#}
    {#                <a class="collapse-item" href="/mypage/log/connect">CCTV 연결 로그</a>#}
    {#                <a class="collapse-item" href="utilities-border.html">정책 변경 로그</a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </li>#}

    {#    <!-- Divider -->#}
    {#    <hr class="sidebar-divider">#}
    {##}
    {#    <!-- Heading -->#}
    {#    <div class="sidebar-heading">#}
    {#        탐지#}
    {#    </div>#}

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">smartCCTV Detection</h6>
                <a class="collapse-item" href="/mypage/detect/fire">화재 감지</a>
                <a class="collapse-item" href="/mypage/detect/falldown">실신 감지</a>
                <a class="collapse-item" href="/mypage/detect/person">규정위반-사람수</a>
                <a class="collapse-item" href="/mypage/detect/helmet">규정위반-헬멧</a>
{#                <div class="collapse-divider"></div>#}
{#                <h6 class="collapse-header">사용자 저장</h6>#}
{#                <a class="collapse-item" href="/mypage/page/user/capture">이미지 캡처</a>#}
{#                <a class="collapse-item" href="/mypage/page/user/recording">영상 녹화</a>#}
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/mypage/side/chart/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>통계</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/mypage/side/news/">
            <i class="fas fa-fw fa-table"></i>
            <span>항만 뉴스</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/mypage/alarm/list">
            <i class="fas fa-fw fa-table"></i>
            <span>알림   <span class="badge rounded-pill bg-danger">{{ alarmCnt }}</span></span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->