{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static '/mypage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Custom styles for this template-->
    <link href="{% static '/mypage/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include "mypage/fragment/sidebar.html" %}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {% include "mypage/fragment/header.html" %}

            <div class="container">
                <ul class="nav nav-tabs nav-pills nav-justified" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true" style="width: 100%">
                            정보
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab" data-bs-toggle="tab" data-bs-target="#log"
                                type="button" role="tab" aria-controls="log" aria-selected="false"
                                style="width: 100%">서버 연결 로그
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab" data-bs-toggle="tab" data-bs-target="#image"
                                type="button" role="tab" aria-controls="image" aria-selected="false"
                                style="width: 100%">이미지 캡처
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab" data-bs-toggle="tab" data-bs-target="#video"
                                type="button" role="tab" aria-controls="video" aria-selected="false"
                                style="width: 100%">영상 녹화
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false"
                                style="width: 100%">정책설정
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false"
                                style="width: 100%">알림
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h1>{{ camid }}</h1>
                        <h1>등록일 : {{ cctv.reg_time }}</h1>
                    </div>
                    <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-tab">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">CCTV Connect / Disconnect 로그</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Cam Id</th>
                                        <th>Time</th>
                                        <th>Connect / Disconnect</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Cam Id</th>
                                        <th>Time</th>
                                        <th>Connect / Disconnect</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for cam_history in connectList_camid %}
                                        <tr>
                                            <td>{{ cam_history.camid }}</td>
                                            <td>{{ cam_history.time }}</td>
                                            <td>{{ cam_history.division }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>날짜</th>
                                    <th>CCTV ID</th>
                                    <th>저장 이미지</th>
                                    <th>삭제하기</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>날짜</th>
                                    <th>CCTV ID</th>
                                    <th>저장 이미지</th>
                                    <th>삭제하기</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% load static %}
                                {% for cp in captureList_camid %}
                                    <tr>
                                        <td>{{ cp.time }}</td>
                                        <td>{{ cp.camid }}</td>
                                        <td><img src="{{ cp.image.url }}"/></td>
                                        <td>
                                            <a href="/mypage/delete/image/user/{{ cp.cpid }}/">
                                                <button class="btn btn-primary">삭제하기</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>날짜</th>
                                    <th>CCTV ID</th>
                                    <th>녹화영상</th>
                                    <th>삭제하기</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>날짜</th>
                                    <th>CCTV ID</th>
                                    <th>녹화영상</th>
                                    <th>삭제하기</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% load static %}
                                {% for rv in recordingList_camid %}
                                    <tr>
                                        <td>{{ rv.time }}</td>
                                        <td>{{ rv.camid }}</td>
                                        <td>
                                            <video src="{{ rv.video.url }}" controls/>
                                        </td>
                                        <td>
                                            <a href="/mypage/delete/video/user/{{ rv.rvid }}/">
                                                <button class="btn btn-primary">삭제하기</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">화재 감지
                                    {% if policy.fire == 1 %}
                                        <span class="badge rounded-pill bg-success">ON</span>
                                    {% else %}
                                        <span class="badge rounded-pill bg-secondary">OFF</span>
                                    {% endif %}
                                </h3>
                                <p class="card-text">화재 발생을 감지합니다.</p>
                                {% if policy.fire == 1 %}
                                    <button onclick="location.href='/cctv/config/mode/fire/{{ camid }}';"
                                            type="button" class="btn btn-primary">OFF 설정
                                    </button>
                                {% else %}
                                    <button onclick="location.href='/cctv/config/mode/fire/{{ camid }}';"
                                            type="button" class="btn btn-primary">ON 설정
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">사람 감지
                                    {% if policy.person == 1 %}
                                        <span class="badge rounded-pill bg-success">ON</span>
                                    {% else %}
                                        <span class="badge rounded-pill bg-secondary">OFF</span>
                                    {% endif %}
                                </h3>
                                <p class="card-text">사람 감지수가 {{ policy.person_cnt }}명보다 적음을 감지합니다.</p>
                                <form action="/cctv/config/mode/person/cnt/{{ camid }}" method="post" id="personCntForm">
                                    {% csrf_token %}
                                    <input value="{{ policy.person_cnt }}" name="cnt" type="number" min="2" max="10">
                                </form>
                                <button class="btn btn-primary" type="submit" form="personCntForm">사람수 설정</button>
                                <br>
                                {% if policy.person == 1 %}
                                    <button onclick="location.href='/cctv/config/mode/person/{{ camid }}';"
                                            type="button" class="btn btn-primary">OFF 설정
                                    </button>
                                {% else %}
                                    <button onclick="location.href='/cctv/config/mode/person/{{ camid }}';"
                                            type="button" class="btn btn-primary">ON 설정
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">쓰러짐 감지
                                    {% if policy.falldown == 1 %}
                                        <span class="badge rounded-pill bg-success">ON</span>
                                    {% else %}
                                        <span class="badge rounded-pill bg-secondary">OFF</span>
                                    {% endif %}
                                </h3>
                                <p class="card-text">사람의 쓰러짐, 넘어짐, 실신을 감지합니다.</p>
                                {% if policy.falldown == 1 %}
                                    <button onclick="location.href='/cctv/config/mode/falldown/{{ camid }}';"
                                            type="button" class="btn btn-primary">OFF 설정
                                    </button>
                                {% else %}
                                    <button onclick="location.href='/cctv/config/mode/falldown/{{ camid }}';"
                                            type="button" class="btn btn-primary">ON 설정
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <h1>미확인 알림</h1>
                        <div style="overflow:scroll; width:100%; height:400px">
                            {% for alarm in alarmList_camid_0 %}
                                <div class="alert alert-danger" role="alert">
                                    <h4 class="alert-heading">{{ alarm.type }}</h4>
                                    <p>탐지 시간 : {{ alarm.time }}</p>
                                    <hr>
                                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to
                                        keep things
                                        nice and
                                        tidy.</p>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <h1>확인 알림</h1>
                        <div style="overflow:scroll; width:100%; height:200px;">
                            {% for alarm in alarmList_camid_1 %}
                                <div class="alert alert-dark" role="alert">
                                    <h4 class="alert-heading">{{ alarm.type }}</h4>
                                    <p>탐지 시간 : {{ alarm.time }}</p>
                                    <hr>
                                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to
                                        keep things
                                        nice and
                                        tidy.</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <!-- End of Main Content -->


            </div>
            <!-- End of Content Wrapper -->
            {% include "mypage/fragment/footer.html" %}

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========================= JS here ========================= -->
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/js/wow.min.js' %}"></script>
        <script src="{% static '/js/tiny-slider.js' %}"></script>
        <script src="{% static '/js/glightbox.min.js' %}"></script>
        <script src="{% static '/js/count-up.min.js' %}"></script>
        <script src="{% static '/js/main.js' %}"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static '/mypage/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static '/mypage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static '/mypage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static '/mypage/js/sb-admin-2.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static '/mypage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Page level plugins -->
        <script src="{% static '/mypage/vendor/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static '/mypage/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static '/mypage/js/demo/datatables-demo.js' %}"></script>
</body>

</html>