{% load static %}
<!-- Start Footer Area -->
<footer class="footer section">
    <!-- Start Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-12">
                        <p class="text">Offers valid for a limited time only hostpack reflect multi annual
                            discounts. Other terms and conditions may apply. <a href="javascript:void(0)">Click
                                Here</a>

                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="align-right">
                            <img src="{% static '/images/footer/certificate3.png' %}" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
</footer>
<!--/ End Footer Area -->