{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static '/mypage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static '/mypage/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=oe5x79j31d"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include "mypage/fragment/sidebar.html" %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            {% include "mypage/fragment/header.html" %}

            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Summary
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">미확인 알림 수 : {{alarmCnt}}</div>

                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div style="width: 50%">
                                        <div class="h2 mb-0 font-weight-bold text-info">울산항</div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">하늘 맑음 강수 확률 0%</div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">풍량 10 m/s 풍속 20~~</div>
                                    </div>
                                    <div style="width: 50%; text-align: center">
                                        <img width="50%" src="{% static '/images/weather/sun.png' %}" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div style="width: 50%">
                                        <div class="h2 mb-0 font-weight-bold text-info">부산항</div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">하늘 맑음 강수 확률 0%</div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">풍량 10 m/s 풍속 20~~</div>
                                    </div>
                                    <div style="width: 50%; text-align: center">
                                        <img width="50%" src="{% static '/images/weather/sun.png' %}" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Pending Requests Card Example -->
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div style="width: 50%">
                                        <div class="h2 mb-0 font-weight-bold text-info">인천항</div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">하늘 맑음 강수 확률 0%</div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-800">풍량 10 m/s 풍속 20~~</div>
                                    </div>
                                    <div style="width: 50%; text-align: center">
                                        <img width="50%" src="{% static '/images/weather/sun.png' %}" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Number of detections per mode</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-6 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Number of detections per mode</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Fire
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Falldown
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Policy-person
                                        </span>
                                                                        <span class="mr-2">
                                            <i class="fas fa-circle text-dark"></i> Policy-helmet
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="width: 60%">
                        <div id="map" style="width:100%;height:100vh;"></div>
                    </div>
                    <div style="width: 40%; padding-left: 10px">
                        {% for cctv in cctv_list %}
                            <div class="card text-white bg-secondary mb-3" style="width: 100%" id="{{ cctv.camid }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ cctv.camid }}</h5>
                                    <p class="card-text"><a style="color: white"
                                                            href="/cctv/live/{{ user.username }}/{{ cctv.camid }}">실시간
                                        CCTV 보기</a></p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        {% include "mypage/fragment/footer.html" %}

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="{% static '/mypage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/mypage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static '/mypage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static '/mypage/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static '/mypage/vendor/chart.js/Chart.js' %}"></script>
<script src="{% static '/mypage/vendor/chart.js/Chart.bundle.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static '/mypage/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static '/mypage/js/demo/chart-pie-demo.js' %}"></script>
<script>
function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

var fireCnt = '{{fireCnt}}';
var falldownCnt = '{{falldownCnt}}';
var policyPersonCnt = '{{policyPersonCnt}}';
var policyHelmetCnt = '{{policyHelmetCnt}}';
var maxvalue = Math.max(fireCnt,falldownCnt,policyPersonCnt, policyHelmetCnt);
// Pie Chart Example
var ctx1 = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx1, {
  type: 'doughnut',
  data: {
    labels: ["Fire", "Falldown", "Policy-person","Policy-helmet"],
    datasets: [{
      data: [fireCnt, falldownCnt,policyPersonCnt ,policyHelmetCnt],
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc','#444242'],
      hoverBackgroundColor: ['#4e73df', '#1cc88a', '#36b9cc','#444242'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});

var ctx2 = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx2, {
  type: 'bar',
  data: {
    labels: ["Fire", "Falldown", "Policy-person","Policy-helmet"],
    datasets: [{
      label: "detections",
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: [fireCnt, falldownCnt,policyPersonCnt ,policyHelmetCnt],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: maxvalue,
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + number_format(tooltipItem.yLabel);
        }
      }
    },
  }
});

</script>


</body>
<script>
    var un = '{{user.id}}';
    setInterval(function () {
        $.ajax({
            url: '/cctv/ajax/main/',
            type: "POST",
            dataType: "json",
            data: {'send_data': un},
            success: function (data) {
                console.log(data);
                for (var key in data) {
                    var camid = key;
                    var connect = data[key].connect;
                    var alarm = data[key].alarm;
                    var element = document.getElementById(camid);
                    element.classList.remove('bg-secondary');
                    element.classList.remove('bg-danger');
                    element.classList.remove('bg-primary');

                    if (connect == 0) {
                        element.classList.add('bg-secondary');
                    } else {
                        element.classList.add('bg-primary');
                    }
                    if (alarm == 1) {
                        element.classList.remove('bg-secondary');
                        element.classList.remove('bg-danger');
                        element.classList.remove('bg-primary');
                        element.classList.add('bg-danger');
                    }
                }
            }
        })
    }, 1000);


</script>
<script src="{% static '/js/data.js' %}"></script>
</html>